# Problem Set 2 : Data Programming BDAT1004

AnnMaria.Stanley.BDAT1004PS2


# question 1


Consider the following Python module:

a = 0

def b():
    global a
    a = c(a)
def c(a):
    return a + 2

After importing the module into the interpreter, you execute:

    >>> b()
    >>> b()
    >>> b()
    >>> a
    ?

What value is displayed when the last expression (a) is evaluated? 
Explain your answer by indicating what happens in every executed statement

In [4]:
a = 0  
def b():  
    global a                              #Global variable a will be used  
    a = c(a)                                  #function call c(0)
def c(a):  
    return a + 2         
b()                                        #will return a=0+2= 2*  
b()                                        # As value of a is changed to 2, it will return a=2+2=4*  
b()                                        #*a=4+2=6*  
a                                          #a=6*

6

b()---> When excuted this statement for the first time, a is assigned the value which the function c(a) returned.
a=a+2; a=0+2=2.

b()--->Now the value of a is 2 since its a global variable.When this statement calls b() the second time, a is assigned the value which the function c(a) return.
a=a+2; a=2+2=4. 

b()--->Now the value of a is 4. This statement calls b again and a is assigned the value which the function c(a) return.
a=a+2; a=4+2=6.

a ---> When this statement executes it will gives the result 6. Because each time the statement b() executes , it will call function c(a) and increments the value of global variable a by 2.

# Question 2

Function fileLength(), given to you, takes the name of a file as input and returns
the length of the file:

>>> fileLength('midterm.py')
284
>>> fileLength('idterm.py')
Traceback (most recent call last):
File "<pyshell#34>", line 1, in <module>
 fileLength('idterm.py')
File "/Users/me/midterm.py", line 3, in fileLength
 infile = open(filename)
FileNotFoundError: [Errno 2] No such file or directory:
'idterm.py'
    
    
As shown above, if the file cannot be found by the interpreter or if it cannot be read
as a text file, an exception will be raised. Modify function fileLength() so that a
friendly message is printed instead:
    
>>> fileLength('midterm.py')
358
>>> fileLength('idterm.py')
File idterm.py not found.

In [56]:
def file_length(file_name):
    try:
        file = open(file_name)
        contents = file.read()
        file.close()
        print(len(contents))
    except:
        print('File '+file_name+' is not found' )
    
file_length("midterm.py")

123

In [57]:
file_length("idterm.py")

File idterm.py is not found

# question 3

Write a class named Marsupial that can be used as shown below:
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')
m.pouch_contents()
['doll', 'firetruck', 'kitten']

In [14]:
#class Marsupial defines funtions and variables to store and display words
class Marsupial():
    def __init__(self):
        self.pouch=[]

#pouch funtion store the words entered        
    def put_in_pouch(self,stuff):
        self.pouch.append(stuff)
    def pouch_contents(self):
        print(self.pouch)

In [15]:
#create an object, then insert words into a list and display the list
m = Marsupial()
m.put_in_pouch('doll')
m.put_in_pouch('firetruck')
m.put_in_pouch('kitten')

In [16]:
m.pouch_contents()

['doll', 'firetruck', 'kitten']

Now write a class named Kangaroo as a subclass of Marsupial that inherits all the attributes of Marsupial and also:
a. extends the Marsupial init constructor to take, as input, the coordinates x and y of the Kangaroo object,
b. supports method jump that takes number values dx and dy as input and moves the kangaroo by dx units along the x-axis and by dy units along the y-axis, and
c. overloads the str operator so it behaves as shown below.

k = Kangaroo(0,0)
print(k) I am a Kangaroo located at coordinates (0,0)
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
k.pouch_contents() ['doll', 'firetruck', 'kitten']
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)
print(k) I am a Kangaroo located at coordinates (3,0)

In [17]:
#subclass Kangaroo carries x and y coordinates as parameter
class Kangaroo(Marsupial):
    def __init__(self,x,y):
        Marsupial.__init__(self)
        self.x=x
        self.y=y
 #method jump is to increment the coordinates by dx and dy        
    def jump(self,dx,dy):
        self.x +=dx
        self.y +=dy
#to display        
    def __str__(self):
        return 'I am a Kangaroo located at coordinates ({},{})'.format(self.x,self.y)

In [21]:
#create an object of the class
k = Kangaroo(0,0)
#display object
print(k)

I am a Kangaroo located at coordinates (0,0)

In [22]:
#function call to insert words
k.put_in_pouch('doll')
k.put_in_pouch('firetruck')
k.put_in_pouch('kitten')
#function call to display words
k.pouch_contents()

['doll', 'firetruck', 'kitten']

In [20]:
#function call to increment coordinates
k.jump(1,0)
k.jump(1,0)
k.jump(1,0)

#print object
print(k)

I am a Kangaroo located at coordinates (3,0)

# question 4

Write function collatz() that takes a positive integer x as input and prints the Collatz sequence starting at x. A Collatz sequence is obtained by repeatedly applying this rule to the previous number x in the sequence:

x = {  洧논/2      洧녰洧녭 洧논 洧녰洧 洧뉧롐洧뉧롐뜦n       3洧논 + 1   洧녰洧녭 洧논 洧녰洧 洧녶洧녬洧녬

Your function should stop when the sequence gets to number 1. Your implementation must be recursive, without any loops.

>>> collatz(1)
1
>>> collatz(10)
10
5
16
8
4
2
1

In [25]:
def collatz(x):
    if x <= 1:
        print(1)
    elif x % 2 == 0:
        print(int(x))
        return collatz(x/2)
    else:
        print(int(x))
        return collatz(3*x + 1)

In [26]:
collatz(1)

1

In [24]:
collatz(10)

10
5
16
8
4
2
1

# question 5

Write a recursive method binary() that takes a non-negative integer n and prints the binary representation of integer n.

>>> binary(0)
0
>>> binary(1)
1
>>> binary(3)
11
>>> binary(9)
1001

In [7]:
#recursive fuction to calculate binary value of a decimal number

def binary(integer):                                  #defining binary method which takes non-negative integer
    
    print("Binary representation of {} is".format(integer))
    
    if(integer >= 0):                                 #check whether the integer is 0 or more then print integer in binary form
        
        print(format(integer,"b"))          
    
    else:
        return 'number is negative or 0'              #else print that the number is negative or zero.
    

binary(0)
binary(1)
binary(3)
binary(9)

Binary representation of 0 is
0
Binary representation of 1 is
1
Binary representation of 3 is
11
Binary representation of 9 is
1001

# Question 6

Implement a class named HeadingParser that can be used to parse an HTML
document, and retrieve and print all the headings in the document. You should
implement your class as a subclass of HTMLParser, defined in Standard Library
module html.parser. When fed a string containing HTML code, your class should
print the headings, one per line and in the order in which they appear in the
document. Each heading should be indented as follows: an h1 heading should have indentation 0, and h2 heading should have indentation 1, etc. Test your
implementation using w3c.html.
>>> infile = open('w3c.html')
>>> content = infile.read()
>>> infile.close()
>>> hp = HeadingParser()
>>> hp.feed(content)
W3C Mission
Principles

In [11]:

from html.parser import HTMLParser
class HeadingParser(HTMLParser): 
    def __init__(self):
        self.flag = False 
        self.indent = 0                                                             #provides indentation of 0
        self.stack = [] 
        super().__init__()

    def handle_starttag(self, tag, attrs):                                          #function handle_starttag
        if(tag[0] == 'h' and tag[1] <='6' and tag[1] > '0' and len(tag) == 2):      #condition
            self.stack.append("")

    def handle_endtag(self, tag):                                                   #function handle_endtag
        if (tag[0] == 'h' and tag[1] <= '6' and tag[1] > '0' and len(tag) == 2):    #reading the end tag of handle
            indent = int(tag[1]) - 1                                                #provides indentation
            for i in range(0,indent):
                print("\t",end="")
            print(self.stack.pop())

    def handle_data(self, data):                                                     #define function handle_data
        if(len(self.stack) != 0):
            str = self.stack.pop()
            str+=data                                                                #assigning data to string
            self.stack.append(str)
                    
infile = open('W3c.html')
content = infile.read()
infile.close()
hp = HeadingParser()
hp.feed(content)

W3C Mission
	Principles

# Question 7

Implement recursive function webdir() that takes as input: a URL (as a string) and
non-negative integers depth and indent. Your function should visit every web
page reachable from the starting URL web page in depth clicks or less, and print
each web page's URL. As shown below, indentation, specified by indent, should
be used to indicate the depth of a URL.
>>>
webdir('http://reed.cs.depaul.edu/lperkovic/csc242/test1.html'
, 2, 0)
http://reed.cs.depaul.edu/lperkovic/csc242/test1.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test2.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test3.html
 http://reed.cs.depaul.edu/lperkovic/csc242/test4.html

In [18]:
#reference from Stackoverflow

from html.parser import HTMLParser    
from urllib.request import urlopen
from urllib.parse import urljoin

class Parser(HTMLParser):
    
    def __init__(self, url):
        HTMLParser.__init__(self)
        self.url = url
        self.url_s = []

    def append(self):
        return self.url_s

    def handle_starttag(self, tag, attr):
        for r in attr:
            y = urljoin(self.url, r[1])
            if y[:4] == 'http': 
                self.url_s.append(y)
x = 0
def webdir(urlink, depth, indent):

    depth = depth - 1    
    print(indent*'  ', urlink)         
    object = urlopen(urlink).read().decode()
    collect = Parser(urlink)
    collect.feed(object)
    urls = collect.append() 
    links = urls
    indent= indent + 4
    for l in links:
        if depth < 0 or indent < 0:
            return 1
        else:
            webdir(l, depth, indent)
            
webdir('http://reed.cs.depaul.edu/lperkovic/test1.html', 2, 0)

 http://reed.cs.depaul.edu/lperkovic/test1.html
         http://reed.cs.depaul.edu/lperkovic/test2.html
                 http://reed.cs.depaul.edu/lperkovic/test4.html
         http://reed.cs.depaul.edu/lperkovic/test3.html
                 http://reed.cs.depaul.edu/lperkovic/test4.html

# Question 8

Write SQL queries on the below database table that return:
a) All the temperature data.
b) All the cities, but without repetition.
c) All the records for India.
d) All the Fall records.
e) The city, country, and season for which the average rainfall is between 200
and 400 millimeters.
f) The city and country for which the average Fall temperature is above 20
degrees, in increasing temperature order.
g) The total annual rainfall for Cairo.
h) The total rainfall for each season.

City Country Season Temperature(C) Rainfall(mm)
Mumbai India Winter 24.8 5.9
Mumbai India Spring 28.4 16.2
Mumbai India Summer 27.9 1549.4
Mumbai India Fall 27.6 346.0
London United Kingdom Winter 4.2 207.7
London United Kingdom Spring 8.3 169.6
London United Kingdom Summer 15.7 157.0
London United Kingdom Fall 10.4 218.5
Cairo Egypt Winter 13.6 16.5
Cairo Egypt Spring 20.7 6.5
Cairo Egypt Summer 27.7 0.1
Cairo Egypt Fall 22.2 4.5

In [20]:
 !pip install ipython-sql

Collecting ipython-sql
  Downloading ipython_sql-0.4.0-py3-none-any.whl (19 kB)
Requirement already satisfied: six in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (1.16.0)
Requirement already satisfied: ipython>=1.0 in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (7.29.0)
Collecting prettytable<1
  Downloading prettytable-0.7.2.zip (28 kB)
Requirement already satisfied: sqlalchemy>=0.6.7 in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (1.4.22)
Requirement already satisfied: ipython-genutils>=0.1.0 in c:\programdata\anaconda3\lib\site-packages (from ipython-sql) (0.2.0)
Collecting sqlparse
  Downloading sqlparse-0.4.2-py3-none-any.whl (42 kB)
Requirement already satisfied: decorator in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: backcall in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.2.0)
Requirement already satisfied: jedi>=0.16 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.18.0)
Requirement already satisfied: colorama in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.4.4)
Requirement already satisfied: traitlets>=4.2 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (5.1.0)
Requirement already satisfied: pickleshare in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.7.5)
Requirement already satisfied: matplotlib-inline in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (0.1.2)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (3.0.20)
Requirement already satisfied: setuptools>=18.5 in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (58.0.4)
Requirement already satisfied: pygments in c:\programdata\anaconda3\lib\site-packages (from ipython>=1.0->ipython-sql) (2.10.0)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\programdata\anaconda3\lib\site-packages (from jedi>=0.16->ipython>=1.0->ipython-sql) (0.8.2)
Requirement already satisfied: wcwidth in c:\programdata\anaconda3\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython>=1.0->ipython-sql) (0.2.5)
Requirement already satisfied: greenlet!=0.4.17 in c:\programdata\anaconda3\lib\site-packages (from sqlalchemy>=0.6.7->ipython-sql) (1.1.1)
Building wheels for collected packages: prettytable
  Building wheel for prettytable (setup.py): started
  Building wheel for prettytable (setup.py): finished with status 'done'
  Created wheel for prettytable: filename=prettytable-0.7.2-py3-none-any.whl size=13714 sha256=186fb91b2b89c45b66a60ff0d5f925988df3044d27a9ec4460b06fe7118f57fb
  Stored in directory: c:\users\ann maria stanley\appdata\local\pip\cache\wheels\75\f7\28\77a076f1fa8cbeda61aca712815d04d7a32435f04a26a2dd7b
Successfully built prettytable
Installing collected packages: sqlparse, prettytable, ipython-sql
Successfully installed ipython-sql-0.4.0 prettytable-0.7.2 sqlparse-0.4.2

In [21]:
#load sql
%load_ext sql

In [22]:
#connect sql
%sql sqlite://

In [23]:
%%sql
CREATE TABLE record
(
    City         varchar(20),
    Country      varchar(20),
    Season       varchar(20),
    Temperature  float,
    Rainfall     float
);

 * sqlite://
Done.

[]

In [24]:
%%sql
INSERT INTO record VALUES ('Mumbai', 'India', 'Winter', 24.8, 5.9);
INSERT INTO record VALUES('Mumbai', 'India', 'Spring', 28.4, 16.2);
INSERT INTO record VALUES('Mumbai', 'India', 'Summer', 27.9, 1549.4);
INSERT INTO record VALUES('Mumbai', 'India', 'Fall', 27.6, 346.0);
INSERT INTO record VALUES('London', 'United Kingdom', 'Winter', 4.2, 207.7);
INSERT INTO record VALUES('London', 'United Kingdom', 'Spring', 8.3, 169.6);
INSERT INTO record VALUES('London', 'United Kingdom', 'Summer', 15.7, 157.0);
INSERT INTO record VALUES('London', 'United Kingdom', 'Fall', 10.4, 218.5);
INSERT INTO record VALUES('Cairo', 'Egypt', 'Winter', 13.6, 16.5);
INSERT INTO record VALUES('Cairo', 'Egypt', 'Spring', 20.7, 6.5);
INSERT INTO record VALUES('Cairo', 'Egypt', 'Summer', 27.7, 0.1);
INSERT INTO record VALUES('Cairo', 'Egypt', 'Fall', 22.2, 4.5) ;

 * sqlite://
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.
1 rows affected.

[]

## All the data.

In [27]:
%%sql
select * from record;

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Winter', 4.2, 207.7),
 ('London', 'United Kingdom', 'Spring', 8.3, 169.6),
 ('London', 'United Kingdom', 'Summer', 15.7, 157.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Winter', 13.6, 16.5),
 ('Cairo', 'Egypt', 'Spring', 20.7, 6.5),
 ('Cairo', 'Egypt', 'Summer', 27.7, 0.1),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

## a) All the temperature data.

In [29]:
%%sql
select Temperature from record;

 * sqlite://
Done.

[(24.8,),
 (28.4,),
 (27.9,),
 (27.6,),
 (4.2,),
 (8.3,),
 (15.7,),
 (10.4,),
 (13.6,),
 (20.7,),
 (27.7,),
 (22.2,)]

## b) All the cities, but without repetition.

In [28]:
%%sql
SELECT DISTINCT City FROM record;

 * sqlite://
Done.

[('Mumbai',), ('London',), ('Cairo',)]

## c) All the records for India

In [30]:
%%sql
select * from record where Country='India';

 * sqlite://
Done.

[('Mumbai', 'India', 'Winter', 24.8, 5.9),
 ('Mumbai', 'India', 'Spring', 28.4, 16.2),
 ('Mumbai', 'India', 'Summer', 27.9, 1549.4),
 ('Mumbai', 'India', 'Fall', 27.6, 346.0)]

## d) All the Fall records.

In [31]:
%%sql
select * from record where Season='Fall';

 * sqlite://
Done.

[('Mumbai', 'India', 'Fall', 27.6, 346.0),
 ('London', 'United Kingdom', 'Fall', 10.4, 218.5),
 ('Cairo', 'Egypt', 'Fall', 22.2, 4.5)]

## e) The city, country, and season for which the average rainfall is between 200 and 400 millimeters

In [32]:
%%sql
select City, Country, Season, AVG(Rainfall) from record where Rainfall between 200 and 400 group by City;

 * sqlite://
Done.

[('London', 'United Kingdom', 'Winter', 213.1),
 ('Mumbai', 'India', 'Fall', 346.0)]

## f) The city and country for which the average Fall temperature is above 20 degrees, in increasing temperature order.

In [33]:
%%sql
select City, Country, AVG(Temperature) from record where Season='Fall' and Temperature>20 group by City order by Temperature;

 * sqlite://
Done.

[('Cairo', 'Egypt', 22.2), ('Mumbai', 'India', 27.6)]

## g) The total annual rainfall for Cairo.

In [34]:
%%sql
select City, SUM(Rainfall) from record where City='Cairo';

 * sqlite://
Done.

[('Cairo', 27.6)]

## h) The total rainfall for each season.

In [35]:
%%sql
select Season, SUM(Rainfall) from record group by Season;

 * sqlite://
Done.

[('Fall', 569.0),
 ('Spring', 192.29999999999998),
 ('Summer', 1706.5),
 ('Winter', 230.1)]

# Question 9

. Suppose list words is defined as follows:
>>> words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over',
'the', 'lazy', 'dog']
Write list comprehension expressions that use list words and generate the following
lists:
a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE',
'LAZY', 'DOG']
b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog']
c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list
words).
d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN',
'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5],
['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy',
4], ['DOG', 'dog', 3]] (the list containing a list for every word of list
words, where each list contains the word in uppercase and lowercase and the
length of the word.)
e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the',
'lazy', 'dog'] (the list of words in list words containing 4 or more
characters.)

## Write list comprehension expressions that use list words and generate the following lists:

In [36]:
#list word
words = ['The', 'quick', 'brown', 'fox', 'jumps', 'over','the', 'lazy', 'dog']

##### a) ['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

In [38]:
#convert all words in list to uppercast
lst1 = [x.upper() for x in words]
print(lst1)

['THE', 'QUICK', 'BROWN', 'FOX', 'JUMPS', 'OVER', 'THE', 'LAZY', 'DOG']

#### b) ['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

In [39]:
#convert all words in list to lowercast
lst2 = [x.lower() for x in words]
print(lst2)

['the', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']

#### c) [3, 5, 5, 3, 5, 4, 3, 4, 3] (the list of lengths of words in list words).

In [40]:
#the list of lengths of words in list 'words'
lst3 = []
for x in words:
    lst3.append(len(x))
print(lst3)

[3, 5, 5, 3, 5, 4, 3, 4, 3]

#### d) [['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]                                                                                            (the list containing a list for every word of list words, where each list contains the word in uppercase and lowercase and the length of the word.)

In [41]:
#the list containing a list for every word of list 'words' 
#where each word in list contain, the word in uppercase, lowercase and thelength of the word
lst5 = []
for y in range(0,len(words)):
    lst4 = []
    lst4.append(words[y].upper())
    lst4.append(words[y].lower())
    lst4.append(len(words[y]))
    lst5.append(lst4)
print(lst5)

[['THE', 'the', 3], ['QUICK', 'quick', 5], ['BROWN', 'brown', 5], ['FOX', 'fox', 3], ['JUMPS', 'jumps', 5], ['OVER', 'over', 4], ['THE', 'the', 3], ['LAZY', 'lazy', 4], ['DOG', 'dog', 3]]

#### e) ['The', 'quick', 'brown', 'fox', 'jumps', 'over', 'the', 'lazy', 'dog']                                                                                                             (the list of words in list words containing 4 or more characters.)

In [42]:
#the list of words in list words containing 4 or more characters
lst6 = []
for x in words:
    if len(x) >= 4:
        lst6.append(x)
print(lst6)

['quick', 'brown', 'jumps', 'over', 'lazy']

# Thank You!!